---
import { getRelativeLink } from '~/utils/permalinks';
---

<link rel="shortcut icon" href={getRelativeLink('/favicon.ico')} />
<link rel="icon" type="image/png" href={getRelativeLink('/favicon.png')} />
<link rel="icon" type="image/svg+xml" href={getRelativeLink('/favicon.svg')} />
<link rel="mask-icon" href={getRelativeLink('/favicon.svg')} color="#8D46E7" />
