---
import { Picture } from '@astrojs/image/components';
import PostTags from '~/components/atoms/Tags.astro';

import { getPermalink } from '~/utils/permalinks';
import { findImage } from '~/utils/images';
import { getFormattedDate } from '~/utils/utils';

const { post } = Astro.props;

const image = await findImage(post.image);
---

<article class="max-w-xl mx-auto md:max-w-none grid blog-list-item md:blog-list-item-wide">
	<header class="[grid-area:title]">
		<h2 class="text-xl font-bold leading-8 md:mb-1 font-heading underline underline-offset-4 decoration-steel-100 dark:decoration-steel-600 decoration-1">
			<a
				class="text-primary-600 hover:text-primary-400 dark:text-primary-400 dark:hover:text-primary-600 hover:decoration-current transition ease-in duration-200"
				href={getPermalink(post.slug, 'post')}
			>
				{post.title}
			</a>
		</h2>
	</header>
	<footer class="[grid-area:meta] text-sm md:text-right md:leading-8">
		<time
			class="text-zinc-500 dark:text-zinc-400"
			datetime={post.publishDate}
		>
			{getFormattedDate(post.publishDate)}
		</time>
		<PostTags tags={post.tags} class="inline md:block text-sm ml-2" />
	</footer>
	<div class="[grid-area:content] pb-8">
		<p class="mb-2">
			{post.excerpt || post.description}
		</p>
		<a
			class="text-primary-600 hover:text-primary-400 dark:text-primary-400 dark:hover:text-primary-600 transition ease-in duration-200"
			href={getPermalink(post.slug, 'post')}
		>
			Read more →
		</a>
	</div>
	<div class="[grid-area:line]">
		<div class="w-2.5 h-2.5 mt-3 mx-auto rounded-full border-steel-300 dark:border-steel-500 border-2"></div>
		<div class="w-[2px] h-full mx-auto bg-steel-200 dark:bg-steel-600"></div>
	</div>
</article>
